<template>
  <v-container>
    <v-row>
      <v-col cols="12">
      	<v-card class="shadowCard">
      		<!-- Titulo -->
      		<v-card-title primary-title>
      		  ventas
      		</v-card-title>

      		<!-- Cuerpo -->
      		<v-card-text>

      			<!-- Filtros -->
      			<v-row>
      				<!-- Fecha 1 -->
              <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                <v-text-field
                  dense
                  v-model="inicio"
                  label="Fecha de inicio"
                  type="date"
                  outlined
                  hide-details
                ></v-text-field>
              </v-col>

              <!-- Fecha 2 -->
              <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                <v-text-field
                  dense
                  v-model="fin"
                  label="Fecha de fin"
                  type="date"
                  outlined
                  hide-details
                ></v-text-field>
              </v-col>
              
              <!-- Botones de busqueda -->
              <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                <v-btn color="primary" @click="filtroFechas()" small class="mr-2"><v-icon>search</v-icon></v-btn>
              </v-col>
            </v-row>

      		  <!-- buscador -->
      		  <v-row justify="end">
      		  	<v-col cols="12" sm="12" md="6" lg="4">
	      		  	<v-text-field
	                dense
	                v-model="search"
	                append-icon="search"
	                label="Buscar Productos"
	                single-line
	                outlined
	                dense
	              ></v-text-field>
      		  	</v-col>
      		  </v-row>

      		  <!-- Tablas -->
      		  <v-row>
      		  	<v-col cols="12">
				        <v-data-table
				          :headers="headers"
				          :items="ventas"
				          class="elevation-0"
				          :search="search"
				          dense
				        >
				          <template v-slot:item.actions="{ item }">
				            <v-icon
				              small
				              class="mr-2"
				              @click="editItem(item)"
				              color="blue"
				            >
				              mdi-pencil
				            </v-icon>
				          </template>
				        </v-data-table>
                <div> <strong>Venta total:</strong> {{ venta_total }}</div>
      		  	</v-col>
      		  </v-row>
      		</v-card-text>
      	</v-card>
      </v-col>
    </v-row>

    <!-- Dialog de carga -->
    <v-overlay :value="overlay">
      <v-card
        width="300"
        color="primary"
        dark
      >
        <v-card-text  class="text-subtitle-1">
          Cargando...
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0 mt-2"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  
  export default {
    data: () => ({
      inicio:  (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      fin:     (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),

      loading: true,
      search:'',
      ventas:[],
      headers: [
        { text: 'Folio',                value: 'folio' },
        { text: 'Vendedor',             value: 'nomuser' },
        { text: 'Sucursal',             value: 'sucursal' },
        { text: 'Total',                value: 'total' },
      ],

      search:'',
      overlay: false,
      venta_total:0,
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva entrada' : 'Editar entrada'
      },
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg','verEntrada']),

      // EXCEL
      exportar(){
        let xls = {
          data:      this.ventas,
          tHeaders : ['Nombre', 'Fecha', 'Lote', 'Cantidad', 'Caducidad'],
          filterVal: ['nomart', 'fechaentr', 'lote', 'cant', 'caducidad'],
          nomfile :  "ventas"
        }
        this.exportExcel()
      },

      s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
      },

      exportExcel(){
        this.ventas.sort((a , b)=>{
          if (a.nomart > b.nomart) {
            return 1;
          }
          if (a.nomart < b.nomart) {
            return -1;
          }
          // a must be equal to b
          return 0;
        });
        let data = XLSX.utils.json_to_sheet(this.ventas)
        const workbook = XLSX.utils.book_new()
        const filename = 'ventas'
        XLSX.utils.book_append_sheet(workbook, data, filename)

        var wbout = XLSX.write(workbook, {
          bookType: 'xls',
          bookSST: false,
          type: 'binary'
        });

        const file = new File([new Blob([this.s2ab(wbout)])], filename + '.xls')
        console.log(file)
        
        let formData = new FormData();
        // //se crea el objeto y se le agrega como un apendice el archivo 
        formData.append('file',file);
        // /*Initialize the form data*/
        console.log('formData', formData)


        this.$http.post('pdfs',formData).then(response=> {
          // alert(response.body)
          window.location = this.$http.options.root + 'pdfs/' + filename + '.xls'
        }).catch(error=> {
          alert(error.body)
          console.log(error);
        });
      },

      filtroFechas(){
        if( this.inicio ){
          this.ventas = []
          this.overlay  = true
          var payload = {
            fecha_inicio: this.inicio,
            fecha_final:  this.fin
          }
          this.$http.post('ventas',payload).then(response =>{
            this.ventas = response.body.ventas
            this.venta_total = response.body.venta_total
            this.overlay = false
          }).catch(error=>{
            // INdicamos que hay un error en el back
            if(error.body.message){
              this.error = error.body.message
            }else{
              this.error = error.body
            }
            this.errorBack = true
            this.overlay = false
            this.dialogError = true
          })
        }
      },
    },
  }
</script>





