<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <!-- Titulo -->
        <v-card-title primary-title >
          Catálogo Propietarios
          <v-spacer></v-spacer>

          <!-- Buscador -->
          <v-text-field
            outlined
            dense
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar Propietario"
            single-line
            hide-details
          ></v-text-field>

          <v-spacer></v-spacer>
          
          <!-- NUEVO -->
          <v-btn
            color="primary"
            dark
            @click="dialog=true,reset()"
            small
            rounded
          >
            Nuevo
          </v-btn>

          <!-- BOTON EXCEL -->
          <v-btn 
            rounded
            class="ma-2" 
            small dark color="green darken-3"
            @click="exportar()">
            <v-icon>mdi-file-excel</v-icon>
          </v-btn>

        </v-card-title>

        <!-- Tabla -->
        <v-data-table
          :headers="headers"
          :items="clientes"
          sort-by="calories"
          class="elevation-1"
          :search="search"
          no-data-text="Sin datos para mostrar"
          no-results-text="Sin datos para mostrar"
          dense
          height="300"
          >

          <!-- Boton de editar -->
          <template v-slot:item.actions="{ item }">
            <v-chip 
              color="primary" 
              class="text-capitalize" 
              @click="editItem(item)"
              rounded
              small
            >
              Editar
            </v-chip>
          </template>

          <!-- Boton de actualizar -->
          <template v-slot:no-data>
            <v-btn
              color="primary"
              @click="initialize"
              small
              rounded
            >
              Actualizar
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      max-width="800"
      >
      <template v-slot:activator="{ on, attrs }">
      </template>
      <v-form
      	ref="form"
    		v-model="valid"
    		lazy-validation
      >
        
	      <v-card>
	        <v-card-text class="pb-0">
	          <v-card-title>
	            {{ formTitle }}
	          </v-card-title>
	          <v-row>
	            <v-col
	              class="py-0"
	              cols="12"
	              sm="6"
	              md="6"
	            >
	              <v-text-field
                  :rules="rules"
                  required
	                append-icon="mdi-account"
	                outlined
	                dense
	                v-model="editedItem.nombre"
	                label="Nombre del propietario"
	              ></v-text-field>
	            </v-col>

              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="6"
              >
                <v-text-field
                  :rules="rules"
                  required
                  append-icon="mdi-mail"
                  outlined
                  dense
                  v-model="editedItem.email"
                  label="Correo"
                ></v-text-field>
              </v-col>
	          </v-row>

	          <v-row>
	            <v-col
	              class="py-0"
	              cols="12"
	              sm="6"
	              md="4"
	            >
	              <v-text-field
                  :rules="rules"
	                append-icon="mdi-phone"
	                outlined
	                dense
	                v-model="editedItem.telefono"
	                label="Teléfono"
	              ></v-text-field>
	            </v-col>

	            <v-col
	              class="py-0"
	              cols="12"
	              sm="6"
	              md="4"
	            >
	              <v-text-field
                  :rules="rules"
	                append-icon="mdi-map-marker"
	                outlined
	                dense
	                v-model="editedItem.calle"
	                label="Calle"
	              ></v-text-field>
	            </v-col>

	            <v-col
	              class="py-0"
	              cols="12"
	              sm="6"
	              md="4"
	            >
	              <v-text-field
                  :rules="rules"
	                append-icon="mdi-crosshairs-gps"
	                outlined
	                dense
	                v-model="editedItem.numero"
	                label="Num. Ext"
	              ></v-text-field>
	            </v-col>

	            <v-col
	              class="py-0"
	              cols="12"
	              sm="6"
	              md="4"
	            >
	              <v-text-field
                  :rules="rules"
	                append-icon="mdi-map-marker"
	                outlined
	                dense
	                v-model="editedItem.colonia"
	                label="Colonia"
	              ></v-text-field>
	            </v-col>

	            <v-col
	              class="py-0"
	              cols="12"
	              sm="6"
	              md="4"
	            >
	              <v-text-field
                  :rules="rules"
	                append-icon="mdi-map-marker"
	                outlined
	                dense
	                v-model="editedItem.municipio"
	                label="Municipio"
	              ></v-text-field>
	            </v-col>

	          </v-row>
	        </v-card-text>

	        <v-card-actions class="px-6 pt-0" v-if="editedIndex != -1" >
	          <v-btn
	            color="secondary"
	            block
	            class="text-capitalize"
	            @click="verClienteVuex()"
	          >
	            Ver/Agregar pacientes del cliente
	          </v-btn>
	        </v-card-actions>

	        <v-card-actions class="px-6 pt-0">
	          <v-spacer></v-spacer>
	          <v-btn
	          	dense
	            color="black"
	            dark
	            @click="close"
	            rounded
	          >
	            Cancelar
	          </v-btn>
	          <v-btn
	          	dense
	            color="primary"
	            @click="save"
	            rounded
	          >
	            Guardar
	          </v-btn>
	        </v-card-actions>
	      </v-card>
	    </v-form>
    </v-dialog>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>


<script>
  import {mapActions} from 'vuex'
  var accounting = require("accounting");
  var md5     = require('md5')

  export default {

    data: () => ({
    	// Validaciones
    	name: '',
      rules: [
        v => !!v || 'Campo requerido',
      ],
      select: null,
      items: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4',
      ],
    	valid: true,

      search:'',
      dialog: false,
      headers: [
        { text: 'ID', align: 'left',sortable: false, value: 'idclientes' },
        { text: 'Nombre'  , value: 'nombre' },
        { text: 'Calle'    , value: 'calle' },
        { text: 'Teléfono', value: 'telefono'},  
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      dialogDelete: false,
      clientes: [],
      editedIndex: -1,

      editedItem: {
        idclientes: '',
        nombre:'',
        calle: '',
        numero:'',
        numint:'',
        colonia:'',
        municipio:'',
        telefono:'',
        usuario_registro:1,
        deleted:0,
        fecha_registro:'',
        email:''
      },

      defaultItem: {
        idclientes: '',
        nombre:'',
        calle: '',
        numero:'',
        numint:'',
        colonia:'',
        municipio:'',
        telefono:'',
        usuario_registro:1,
        deleted:0,
        fecha_registro:'',
        email:''
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo propietario' : 'Editar/Ver propietario'
      },
    },


    
    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },


    methods: {
      ...mapActions('clientes',['verCliente']),

      reset(){
        this.$refs.form.reset()
      },

      verClienteVuex(){
        this.verCliente().then(response=>{
          this.$router.push({name:'vercliente'})
        })
      },

      editar(item){
        this.$router.push({name:'newusuario', 
              params: {idweb: item.idweb}})
      },


      // EXCEL
      exportar(){
        let xls = {
          data:      this.usuarios,
          tHeaders : ['ID', 'Usuario', 'Email', 'Cliente', 'Nombre Cliente', 'ID Vend', 'Vendedor', 'Nivel'],
          filterVal: ['idusuariosweb', 'Nomuser', 'Email', 'numcli', 'nombre', 'idvend', 'Nomvend', 'nivel'],
          nomfile :  "Consulta de Usuarios"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },


      initialize  () {
      	this.loading = true
        this.$http.get('obtener.clientes').then(response=>{
        	console.log(response.body)
          this.clientes = response.body
          this.longitud = this.clientes.length
          this.loading = false
        }).catch(error=>{
          console.log(error)
          this.loading = false
        }).finally(()=>{
        	this.loading = false
        })


      },  

      editItem (item) {
        this.editedIndex = this.clientes.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.clientes.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.clientes.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
      	if(this.$refs.form.validate()){
	        if (this.editedIndex > -1) {
	          this.$http.put('actualiza.cliente/' + this.editedItem.idclientes,this.editedItem).then( response => {
	            this.initialize()
	          }).catch(error => {
	            console.log(error)
	          }).finally(()  => this.loading = false)
	        } else {
	          this.$http.post('agregar.cliente',this.editedItem).then( response => {
	            this.initialize()
	          }).catch(error => {
	            console.log(error)
	          }).finally(()  => this.loading = false)
	        }
	        this.close()
      	}else{
      		console.log('datos incompletos')
      	}
      },
    },
  }
</script>