<template>
	<v-container>
		<v-row>
			<v-col cols="12">
			  <v-card>
			    <v-card-title >
			      Pacientes
			    </v-card-title>
			    <v-row
			      class="pa-4 pt-0"
			      justify="space-between"
			    >
			      <v-col cols="5">
			        <v-treeview
			          :active.sync="active"
			          :items="items"
			          :load-children="fetchUsers"
			          :open.sync="open"
			          activatable
			          color="warning"
			          open-on-click
			          transition
			        >
			          <template v-slot:prepend="{ item }">
			          	<v-avatar
			          		v-if="!item.children"
			          	  size="25"
			          	  color="primary"
			          	>
			              <v-img
		                  src="@/assets/logo.jpg"
		                  width="25"
		                ></v-img>
			          	</v-avatar>
			          </template>
			        </v-treeview>
			      </v-col>

			      <v-divider vertical></v-divider>

			      <v-col
			        class="d-flex text-center"
			      >
			        <v-scroll-y-transition mode="out-in">
			          <div
			            v-if="!selected"
			            class="text-h6 grey--text text--lighten-1 font-weight-light"
			            style="align-self: center;"
			          >
			            Seleccionar paciente
			          </div>
			          <v-card
			            v-else
			            :key="selected.id"
			            class="pt-6 mx-auto"
			            flat
			            max-width="400"
			          >
			            <v-card-text align="center">
		                <v-img
		                	width="150"
		                  src="@/assets/logo.jpg"
		                  class="mb-6"
		                ></v-img>
			                  <!-- :src="`https://avataaars.io/${avatar}`" -->
			              <h3 class="text-h5 mb-2">
			                {{ selected.name }}
			              </h3>
			            </v-card-text>
			            <v-divider></v-divider>

			            <v-row
			              class="text-left"
			              tag="v-card-text"
			            >
			              <v-col
			                class="text-right mr-4"
			                tag="strong"
			                cols="5"
			              >
			                Raza:
			              </v-col>
			              <v-col>{{ selected.company.name }}</v-col>

			              <v-col
			                class="text-right mr-4"
			                tag="strong"
			                cols="5"
			              >
			                Edad:
			              </v-col>
			              <v-col>
			              	5 meses
			              </v-col>

			              <v-col
			                class="text-right mr-4"
			                tag="strong"
			                cols="5"
			              >
			                Color:
			              </v-col>
			              <v-col>cafe</v-col>
			              
			              <v-col
			                class="text-right mr-4"
			                tag="strong"
			                cols="5"
			              >
											Peso:
			              </v-col>
			              <v-col>12.5 kg</v-col>
			            </v-row>
			            <v-card-actions>
			              <v-btn color="secondary" rounded class="text-capitalize" block>Ver historial del paciente</v-btn>
			            </v-card-actions>
			          </v-card>
			        </v-scroll-y-transition>
			      </v-col>
			    </v-row>
			  </v-card>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
  const avatars = [
    '?accessoriesType=Blank&avatarStyle=Circle&clotheColor=PastelGreen&clotheType=ShirtScoopNeck&eyeType=Wink&eyebrowType=UnibrowNatural&facialHairColor=Black&facialHairType=MoustacheMagnum&hairColor=Platinum&mouthType=Concerned&skinColor=Tanned&topType=Turban',
    '?accessoriesType=Sunglasses&avatarStyle=Circle&clotheColor=Gray02&clotheType=ShirtScoopNeck&eyeType=EyeRoll&eyebrowType=RaisedExcited&facialHairColor=Red&facialHairType=BeardMagestic&hairColor=Red&hatColor=White&mouthType=Twinkle&skinColor=DarkBrown&topType=LongHairBun',
    '?accessoriesType=Prescription02&avatarStyle=Circle&clotheColor=Black&clotheType=ShirtVNeck&eyeType=Surprised&eyebrowType=Angry&facialHairColor=Blonde&facialHairType=Blank&hairColor=Blonde&hatColor=PastelOrange&mouthType=Smile&skinColor=Black&topType=LongHairNotTooLong',
    '?accessoriesType=Round&avatarStyle=Circle&clotheColor=PastelOrange&clotheType=Overall&eyeType=Close&eyebrowType=AngryNatural&facialHairColor=Blonde&facialHairType=Blank&graphicType=Pizza&hairColor=Black&hatColor=PastelBlue&mouthType=Serious&skinColor=Light&topType=LongHairBigHair',
    '?accessoriesType=Kurt&avatarStyle=Circle&clotheColor=Gray01&clotheType=BlazerShirt&eyeType=Surprised&eyebrowType=Default&facialHairColor=Red&facialHairType=Blank&graphicType=Selena&hairColor=Red&hatColor=Blue02&mouthType=Twinkle&skinColor=Pale&topType=LongHairCurly',
  ]

  const pause = ms => new Promise(resolve => setTimeout(resolve, ms))

  export default {
    data: () => ({
      active: [],
      avatar: null,
      open: [],
      users: [],
    }),

    computed: {
      items () {
        return [
          {
            name: 'Pacientes',
            children: this.users,
          },
        ]
      },
      selected () {
        if (!this.active.length) return undefined

        const id = this.active[0]

        return this.users.find(user => user.id === id)
      },
    },

    watch: {
      selected: 'randomAvatar',
    },

    methods: {
      async fetchUsers (item) {
        // Remove in 6 months and say
        // you've made optimizations! :)
        await pause(1500)

        return fetch('https://jsonplaceholder.typicode.com/users')
          .then(res => res.json())
          .then(json => (item.children.push(...json)))
          .catch(err => console.warn(err))
      },
      randomAvatar () {
        this.avatar = avatars[Math.floor(Math.random() * avatars.length)]
      },
    },
  }
</script>