<template>
	<div>
		<v-card-title primary-title class="font-weight-bold headline">
			APERTURA DE CAJA
			<v-spacer></v-spacer>
			<v-btn color="red" dark large  @click="abrirCaja()">
				Abrir caja 
			</v-btn>
		</v-card-title>
			
		<v-card-text class="pa-0 mt-10">
			<v-row >
				<v-col cols="12" sm="6" lg="4">
					<v-card class="pa-3 elevation-8">
						<v-card-title 
							class="grey white--text pa-3 ma-3 mt-n12 titulo" 
							style="border-radius:15px"
						> CENTAVOS 
						</v-card-title>

						<v-card-text class="mt-5">
							<div v-for="(moneda, i ) in dataCaja" :key="i">
								<v-text-field
									v-if="moneda.type == 1"
									:label="moneda.moneda"
									id="id"
									v-model.number="moneda.cantidad"
									dense
									filled
									type="number"
								></v-text-field>
							</div>
						</v-card-text>
					</v-card>
				</v-col>

				<v-col cols="12" sm="6" lg="4">
					<v-card class="pa-3 elevation-8">
						<v-card-title 
							class="yellow darken-3 white--text pa-3 ma-3 mt-n12 titulo" 
							style="border-radius:15px"
						> MONEDAS 
						</v-card-title>

						<v-card-text class="mt-5">
							<div v-for="(moneda, i ) in dataCaja" :key="i">
								<v-text-field
									v-if="moneda.type == 2"
									:label="moneda.moneda"
									id="id"
									v-model="moneda.cantidad"
									dense
									filled
									type="number"
								></v-text-field>
							</div>
						</v-card-text>
					</v-card>
				</v-col>

				<v-col cols="12" sm="6" lg="4">
					<v-card class="pa-3 elevation-8">
						<v-card-title 
							class="success white--text pa-3 ma-3 mt-n12 titulo" 
							style="border-radius:15px; "
						> BILLETES 
						</v-card-title>

						<v-card-text class="mt-5">
							<div v-for="(moneda, i ) in dataCaja" :key="i">
								<v-text-field
									v-if="moneda.type == 3"
									:label="moneda.moneda"
									id="id"
									v-model="moneda.cantidad"
									dense
									filled
									type="number"
								></v-text-field>
							</div>
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-card-text>

		<!-- Dialog de carga -->
    <v-overlay :value="overlay">
      <v-card
      	width="300"
        color="primary"
        dark
      >
        <v-card-text  class="text-subtitle-1">
          Cargando...
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0 mt-2"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-overlay>
    
  </div>
</template>
<script>
	// Imprtamos los datos de la caja
  import { dataCaja } from '@/views/CAJA/dataCaja'
	import { mapGetters, mapActions } from 'vuex'

  export default {
  	props:['parametrosCaja'],
    data: () => ({
    	dialogSuccess: false,
      overlay: false,
      dialogError: 	false,
			error: 				'',
			successMensaje:'',
			errorBack:false,
      textoCopiado:'COPIAR',
      dataCaja: [],
  	}),

    async created(){
    	this.dataCaja   = dataCaja
    },

    computed:{
      ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),
    },

    methods:{
    	...mapActions('Login',['obtenerCaja']),

    	abrirCaja(){
    		this.overlay = true
    		const payload= {
    			idusuarios: this.getdatosUsuario.idusuariosweb,
    			datacaja:   JSON.stringify(this.dataCaja)
    		}
    		this.$http.post('caja.abierta', payload).then((response) => {
    			this.parametrosCaja.estatus = false
          this.overlay       = false
          this.dialogSuccess = true
          location.reload()
        }).catch(error=>{
        	this.validarError(error)
        })
    	},

    	copiarPortapapeles () {
        navigator.clipboard.writeText(this.error).then(() => {
          this.textoCopiado = 'COPIADO'
        }).catch(err => {
          console.log('Something went wrong', err);
        })
      },
    }
  }
</script>
