<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="8" lg="6">
        <v-card class="elevation-0 cierreCaja" >
          <v-card-title primary-title>
            Cierre de caja
          </v-card-title>
          <p class="ml-4 text-body-1">
            Hola, tu caja cuenta con <strong>{{ totalFormatDinero }} </strong> <br>
            ¿Cuánto dinero se encuentra en tu caja?
          </p>
          <v-card-text>
            <v-text-field
              v-model="totalEnCaja"
              label="Ingresa la cantidad"
              filled
              type="number"
            ></v-text-field>

            <span>Cuentas con una diferencia de: {{ totalEnCaja - totalDineroEntrada }} </span>
          </v-card-text>

          <v-card-actions>
            <v-btn color="secondary" block :disabled="disableBtnRetirar" @click="addRetiroCaja()">Registrar</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>
<script>
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'

  import { mapGetters, mapActions } from 'vuex'

  export default {
    components: {
      Alerta,
      carga
    },

    mixins: [ validarErrores ],

    data: () => ({

      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      totalEnCaja: '',
      totalDineroEntrada:0,
      totalFormatDinero:0,

      desgloseCaja:null
    }),


    computed:{
      ...mapGetters('Login',['getCaja']),

      disableBtnRetirar () {
        if(this.totalEnCaja > 0 ){
          return false
        }else{
          return true
        }
      },
    },

    created(){
      this.initialize()
    },

    methods:{
      // Init de todo
      initialize(){
        this.overlay = true
        this.totalDineroEntrada = 0
        // Recibimos la cantidad ingresada al inicio y la parseamos a json
        const caja = JSON.parse(this.getCaja.datacaja)
        // Recorremos la caja
        for(const i in caja){
          // Acumulamos el dinero 
          this.totalDineroEntrada += parseFloat(caja[i].moneda) * parseFloat(caja[i].cantidad)
        }

        // Consultar el dinero en efectivo en caja
        this.getEfectivoEnCaja()
      },

      // Obtener el dinero que hay en caja
      getEfectivoEnCaja(){
        this.$http.get('caja.efectivo/' + this.getCaja.idcaja).then(response=>{
          // Acumulamos el dinero 
          if( response.body.efectivo > 0 ){
            this.totalDineroEntrada += response.body.efectivo
          }
          this.totalFormatDinero =  new Intl.NumberFormat("en-US",{style: "currency", currency: "USD"}).format( this.totalDineroEntrada)

          this.cargar = false
        }).catch(error=>{
          this.validarError(error)
        }).finally(()=> { this.cargar = false })
      },

      addRetiroCaja(){
        this.cargar = false 
        const payload = {
          idcaja     : this.getCaja.idcaja,
          dinero_caja: this.totalEnCaja,
          total_caja : this.totalDineroEntrada,
          diferencia : ( this.totalEnCaja - this.totalDineroEntrada ) 
        }

        this.$http.post('caja.cierre', payload ).then(response=>{
          this.cargar = false 
          this.totalEnCaja = 0
          location.reload()
        }).catch(error=>{
          this.validarError(error)
        })
      },
    },
  }
</script>
<style type="text/css">
  .cierreCaja {
    position: relative;
  }
</style>