<template>
  <v-main class="pa-1 py-0">

    <v-snackbar v-model="alerta.activo" multi-line vertical top right :color="alerta.color" > 
      <strong> {{alerta.texto}} </strong>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text @click="alerta.activo = false" v-bind="attrs"> Cerrar </v-btn>
      </template>
    </v-snackbar>

    <v-row class="pa-2">
      <v-col 
        cols="12" sm="6" md="4" lg="3" xl="3" 
        class="pa-4 my-5" 
        v-for="(item , i) in kds" :key="i"
      >
        <v-card height="95%">
          <v-list color="black" dark subheader two-line>
            <v-list-item>
              <v-list-item-content> 
                <v-list-item-title > # {{ item.idordenes }}</v-list-item-title>
                <v-list-item-subtitle v-text="item.nomusuario"></v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-content class="text-right"> 
                <v-list-item-title class="font-weight-black headline" >   
                {{ item.tiempo }} 
                 <!--{{ item.hrs}}: {{ item.min }}: {{ item.sec }} -->
                </v-list-item-title>

              </v-list-item-content>
              
            </v-list-item>
            
          </v-list>
          
          <v-card class="pa-3" flat>
            <!-- <v-btn dark absolute bottom color="primary" right fab small top > 
              <v-icon > mdi-eye-outline </v-icon>
            </v-btn> -->
            <v-card-text v-for="(item2, j) in item.productos" :key="j" class="py-0 pa-0 subtitle-2">
              <li class="font-weight-black subtitle-1 primary--text">{{ item2.producto }}</li> 
              <p> Este comentario enlistara las solicitudes de cambios del producto. </p>
              <v-divider v-if="j < item.productos.length -1 "></v-divider>
            </v-card-text>
          </v-card>
        </v-card>
        
        <div class="my-1"></div>
        <v-footer class="pa-0 " flat>
          <v-btn block color="primary" dark elevation="5"> FINALIZAR ORDEN </v-btn>
        </v-footer>

      </v-col>
      <v-col class="mt-10"></v-col>
    </v-row>

    <overlay v-if="overlay"/>

    <v-dialog v-model="alerta_eliminar"  persistent width="500">
      <v-card>
        <v-card-title class="subtitle-1 font-weight-black " style="word-break:normal;">
          ¿ESTÁS SEGURO DE QUERER ELIMINAR LA CATEGORIA  
          <!--
          <span class="info--text"> {{ itemAEliminar.nombre_usuario }} {{ itemAEliminar.apellido_paterno }} {{ itemAEliminar.apellido_materno }}</span> ?
          -->
        </v-card-title>
        <v-divider class="my-0 py-3" ></v-divider>
        <v-card-subtitle align="center" class="warning--text font-weight-bold "> LA INFORMACIÓN SE PERDERÁ COMPLETAMENTE </v-card-subtitle>
        <v-divider class="my-0 py-2 " ></v-divider>
        <v-card-actions>
          <v-btn color="error" dark @click="alerta_eliminar=false"> NO, Cancelar </v-btn>
          <v-spacer/>
          <v-btn color="success" text @click="eliminar_categoria ()">  SÍ, Eliminar </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
	// import  metodos from '@/mixins/metodos.js';
  import {mapGetters, mapActions} from 'vuex';
  import overlay     from '@/components/overlay.vue';

  export default {
		// mixins:[metodos],
    components: {
      overlay
		},
    data:() =>({
      t: 0, 
      // VARIABLES ALERTAS
      alerta: { 
        activo: false,
        texto: '',
        color: 'error',
      },
      alerta_eliminar:false,
      show: true,
      overlay: false,

      kds:[],

    }),

    created(){
      this.init()
    },

    watch: {
    },

    computed:{
      // ...mapGetters('Categorias' ,['obtener_datos_categorias','Loading']), 
		},

    methods:{ 
      // ...mapActions('Categorias' ,['obtener_catalogo_categorias']), 
      init(){
        this.kds = [ 
          { 
            idordenes:1234,
            nomusuario: 'EDGAR TAMEZ',
            tiempo : '00:00',
            sec : 10,
            min : 22,
            hrs : 0,
            productos:[
              { 
                iproductos:1,
                producto: 'Pizza de peperoni',
                check: false
              },
              { 
                iproductos:2,
                producto: 'Panini de jamon',
                check: false
              },
              { 
                iproductos:3,
                producto: 'Empanada con salami',
                check: false
              }
            ]
          },
          { 
            idordenes:12545,
            nomusuario: 'EDUARDO ZAVALA',
            tiempo : '02:30',
            sec : 30,
            min : 2,
            hrs : 0,
            productos:[
              { 
                iproductos:1,
                producto: 'Pizza de peperoni',
                check: false
              },
              { 
                iproductos:2,
                producto: 'Panini de jamon',
                check: false
              },
              { 
                iproductos:3,
                producto: 'Empanada con salami',
                check: false
              },
              { 
                iproductos:3,
                producto: 'Pizza de bonleses',
                check: false
              }
            ]
          },
          { 
            idordenes:12343,
            nomusuario: 'JESSICA GARCIA',
            tiempo : '8:10',
            sec : 10,
            min : 8,
            hrs : 0,
            productos:[
              
              { 
                iproductos:3,
                producto: 'Empanada con salami',
                check: false
              },
              { 
                iproductos:3,
                producto: 'Pizza de bonleses',
                check: false
              }
            ]
          },
          { 
            idordenes:12346,
            nomusuario: 'ROBERTO MARTINEZ',
            tiempo : '10:30',
            sec : 30,
            min : 10,
            hrs : 0,
            productos:[
              
              { 
                iproductos:2,
                producto: 'Panini de jamon',
                check: false
              },
              { 
                iproductos:3,
                producto: 'Empanada con salami',
                check: false
              },
              { 
                iproductos:3,
                producto: 'Pizza de bonleses',
                check: false
              }
            ]
          },
        ]
        this.iniciar_cronometro()
      },

      iniciar_cronometro(){
        const t = setTimeout(this.temporizador, 1000);
      },

      temporizador(){
        this.kds[0].sec += 1; 
        for(let i = 0; i < this.kds.length; i++){
          this.kds[i].sec += 1;  // AUMENTO EL SEGUNDERO
          if (this.kds[i].sec >= 60) {
              this.kds[i].sec = 0;
              this.kds[i].min += 1;
              if (this.kds[i].min >= 60) {
                  this.kds[i].min = 0;
                  this.kds[i].hrs += 1;
              }
          }

          this.kds[i].tiempo = (this.kds[i].min > 9 ? this.kds[i].min : "0" + this.kds[i].min) + ":" + 
                               (this.kds[i].sec > 9 ? this.kds[i].sec : "0" + this.kds[i].sec);
        }
        this.iniciar_cronometro();
      },
      
    }
  }
</script>