<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            Especies
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              dark
              class="mb-2"
              @click="dialog = true"
              small
            >
              Agregar
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-row justify="end">
              <v-col cols="12" md="6" lg="4">
                <v-text-field
                  dense
                  v-model="search"
                  append-icon="search"
                  label="Buscar Productos"
                  filled
                  dense
                ></v-text-field>
              </v-col>
            </v-row>

            <v-data-table
              :headers="headers"
              :items="especies"
              class="elevation-0"
              :search="search"
              dense
            >
              <template v-slot:item.eliminar="{ item }">
                <v-icon
					        small
					        class="mr-2"
					        @click="editItem(item)"
                  color="blue"
					      >
					        mdi-pencil
					      </v-icon>
					      <v-icon
					        small
					        @click="deleteItem(item)"
                  color="red"
					      >
					        mdi-delete
					      </v-icon>
              </template>

              <template v-slot:no-data>
                <v-btn
                  color="primary"
                  @click="initialize"
                >
                  Actualizar
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDelete" max-width="600px">
      <v-card>
        <v-card-title class="text-h6 text-center">
          <v-spacer></v-spacer>
          ¿Estas seguro de que deseas eliminar la especie?
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-actions>
          <v-btn color="red" dark rounded @click="closeDelete">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" rounded @click="deleteItemConfirm">Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialog"
      max-width="300px"
    >
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text class="pb-0">
            <v-row>
              <v-col cols="12" class="pb-0">
                <v-text-field
                  label="Especie"
                  filled
                  dense
                  v-model="editedItem.tipo"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-btn
              color="red"
              dark
              rounded
              @click="close"
              small
            >
              Cancelar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              rounded
              @click="save"
              small
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';
  import validarErrores  from '@/mixins/validarErrores'

  export default {
    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      loading: true,
      search:'',
      especies:[],
      headers: [
        { text: 'id'              , align: 'left',sortable: false, value: 'idtipos_mascota'},
        { text: 'Especie'         , value: 'tipo' },
        { text: 'Fecha creación'  , value: 'fecha_creacion' },
        { text: 'Eliminar'        , value: 'eliminar' },
      ],

      valid: true,
      search:'',
      
      dialog: false,
      dialogDelete: false,
      categorias: [],
      editedIndex: -1,

      editedItem: {
        tipo:0,
        deleted: '',
        idtipos_mascota: 0,
      },
      defaultItem: {
        tipo:0,
        deleted: '',
        idtipos_mascota: 0,
      },

    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva especie' : 'Editar especie'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created(){
      this.cargar = true
      await this.initialize()
      this.cargar = false
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg','verEntrada']),

      initialize(){
        this.especies= []
        this.cargar = true
        return this.$http.get('especies.list').then(response =>{
          this.cargar = false
          this.especies = response.body
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },


      editItem (item) {
        this.editedIndex = this.especies.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog    = true
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
      	this.cargar = true
        if (this.editedIndex > -1) {
        	this.$http.put('especies.update', this.editedItem).then(response=>{
            this.validarSuccess( 'especie actualizada correctamente' )
            this.initialize()
            this.close()
      			this.cargar = false
          }).catch( error =>{
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        }else{
          this.$http.post('especies.add', this.editedItem).then(response=>{
            this.validarSuccess( 'especie agregada correctamente' )
            this.initialize()
            this.close()
      			this.cargar = false
          }).catch( error =>{
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        }
      },

      deleteItem (item) {
        this.editedIndex = this.especies.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.cargar = true
        this.editedItem.deleted = 1
        this.$http.put('especies.update', this.editedItem).then(response=>{
          this.validarSuccess( 'especie eliminada correctamente' )
          this.initialize()
          this.closeDelete()
        	this.cargar = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
     
    },
  }
</script>





