<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            Catálogo de pacientes
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              dark
              class="mb-2"
              @click="dialog = true"
              small
            >
              Agregar
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-row justify="end">
              <v-col cols="12" md="6" lg="4">
                <v-text-field
                  dense
                  v-model="search"
                  append-icon="search"
                  label="Buscar paciente"
                  single-line
                  filled
                  dense
                ></v-text-field>
              </v-col>
            </v-row>

            <v-data-table
              :headers="headers"
              :items="mascotas"
              class="elevation-0"
              :search="search"
              dense
            >
              <template v-slot:item.eliminar="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                  color="blue"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  @click="deleteItem(item)"
                  color="red"
                >
                  mdi-delete
                </v-icon>
              </template>

              <template v-slot:no-data>
                <v-btn
                  color="primary"
                  @click="initialize"
                >
                  Actualizar
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDelete" max-width="600px">
      <v-card>
        <v-card-title class="text-h6 text-center">
          <v-spacer></v-spacer>
          ¿Estas seguro de que deseas eliminar el paciente?
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-actions>
          <v-btn color="red" dark rounded @click="closeDelete">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" rounded @click="deleteItemConfirm">Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialog"
      max-width="600px"
    >
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text class="pb-0">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="editedItem.mascota"
                  filled
                  dense
                  label="Paciente"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-radio-group
                  v-model="editedItem.sexo"
                  row
                  dense
                  hide-details
                >
                  <v-radio
                    label="Macho"
                    :value="1"
                  ></v-radio>
                  <v-radio
                    label="Hembra"
                    :value="2"
                  ></v-radio>
                </v-radio-group>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  v-model="editedItem.edad"
                  filled
                  dense
                  type="number"
                  label="Edad"
                  hide-details
                  suffix="Años"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-autocomplete
                  v-model="editedItem.idtipos_mascota"
                  :items="especies"
                  label="Especie"
                  item-text="tipo"
                  item-value="idtipos_mascota"
                  :rules="[v => !!v || 'Campo requerido']"
                  filled
                  dense
                  hide-details
                ></v-autocomplete>
              </v-col>

              <v-col cols="12" md="6">
                <v-autocomplete
                  v-model="editedItem.idrazas"
                  :items="filterRazas"
                  label="raza"
                  item-text="raza"
                  item-value="idrazas"
                  :rules="[v => !!v || 'Campo requerido']"
                  filled
                  dense
                  hide-details
                ></v-autocomplete>
              </v-col>

              <v-col cols="12">
                <v-autocomplete
                  v-model="editedItem.idclientes"
                  :items="clientes"
                  label="Cliente"
                  item-text="nombre_completo"
                  item-value="idclientes"
                  :rules="[v => !!v || 'Campo requerido']"
                  filled
                  dense
                  hide-details
                ></v-autocomplete>
              </v-col>

              <v-col cols="12" md="6">
                <v-radio-group
                  v-model="editedItem.tamanio"
                  row
                  dense
                  hide-details
                >
                  <v-radio
                    label="Pequeño"
                    :value="1"
                  ></v-radio>
                  <v-radio
                    label="Mediano"
                    :value="2"
                  ></v-radio>
                  <v-radio
                    label="Grande"
                    :value="3"
                  ></v-radio>
                </v-radio-group>
              </v-col>


              <v-col cols="12" md="6">
                <v-text-field
                  v-model="editedItem.peso_mascota"
                  filled
                  dense
                  type="number"
                  label="Peso"
                  hide-details
                  suffix="Kg"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-textarea
                  v-model="editedItem.observaciones"
                  filled
                  dense
                  label="Observaciones"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-btn
              color="red"
              dark
              rounded
              @click="close"
              small
            >
              Cancelar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              rounded
              @click="save"
              small
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';
  import validarErrores  from '@/mixins/validarErrores'

  export default {
    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      loading: true,
      search:'',
      clientes:[],
      headers: [
        { text: 'Id',        value: 'idmascotas', align: 'left',sortable: false },
        { text: 'Paciente',  value: 'mascota'      },
        { text: 'Sexo',      value: 'sexo'         },
        { text: 'Edad',      value: 'edad'         },
        { text: 'Especie',   value: 'especie'      },
        { text: 'Raza',      value: 'raza'         },
        { text: 'Cliente',   value: 'cliente'      },
        { text: 'Tamaño',    value: 'tamanio'      },
        { text: 'Peso',      value: 'peso_mascota' },
        { text: 'Actions',   value: 'eliminar'     },
      ],

      valid: true,
      search:'',
      
      dialog: false,
      dialogDelete: false,
      categorias: [],
      editedIndex: -1,
      editedItem: {
        idmascotas:0,
        mascota:'',
        sexo:null,
        edad:'',
        idtipos_mascota: null,
        idrazas:null,
        idclientes:null,
        tamanio:null,
        peso_mascota:'',
        observaciones:'',
        deleted:0
      },
      defaultItem: {
        idmascotas:0,
        mascota:'',
        sexo:null,
        edad:'',
        idtipos_mascota: null,
        idrazas:null,
        idclientes:null,
        tamanio:null,
        peso_mascota:'',
        observaciones:'',
        deleted:0
      },

      mascotas:[],
      clientes:[],
      especies:[],
      razas:[]
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo paciente' : 'Editar paciente'
      },

      filterRazas( ){
        if( this.editedItem.idtipos_mascota ){
          return this.razas.filter( el => { return el.idtipos_mascota == this.editedItem.idtipos_mascota })
        }
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created(){
      this.cargar = true
      await this.initialize()
      await this.getRazas()
      await this.getEspecies()
      await this.getClientes()
      this.cargar = false
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg','verEntrada']),

      initialize(){
        this.mascotas= []
        this.cargar = true
        return this.$http.get('mascotas.list').then(response =>{
          this.cargar = false
          this.mascotas = response.body
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getRazas(){
        this.razas= []
        this.cargar = true
        return this.$http.get('razas.list').then(response =>{
          this.cargar = false
          this.razas = response.body
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getEspecies(){
        this.especies= []
        this.cargar = true
        return this.$http.get('especies.list').then(response =>{
          this.cargar = false
          this.especies = response.body
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getClientes(){
        this.clientes= []
        this.cargar = true
        return this.$http.get('clientes.list').then(response =>{
          this.cargar = false
          this.clientes = response.body
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },


      editItem (item) {
        this.editedIndex = this.mascotas.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog    = true
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        this.cargar = true
        if (this.editedIndex > -1) {
          this.$http.put('mascotas.update/' + this.editedItem.idclientes, this.editedItem).then(response=>{
            this.validarSuccess( 'especie actualizada correctamente' )
            this.initialize()
            this.close()
            this.cargar = false
          }).catch( error =>{
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        }else{
          this.$http.post('mascotas.add', this.editedItem).then(response=>{
            this.validarSuccess( 'Cliente agregado correctamente' )
            this.initialize()
            this.close()
            this.cargar = false
          }).catch( error =>{
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        }
      },

      deleteItem (item) {
        this.editedIndex = this.mascotas.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.cargar = true
        this.editedItem.deleted = 1
        this.$http.put('mascotas.update/' + this.editedItem.idclientes, this.editedItem).then(response=>{
          this.validarSuccess( 'especie actualizada correctamente' )
          this.initialize()
          this.closeDelete()
          this.cargar = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
     
    },
  }
</script>





