<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Ventas</span>
            <v-spacer></v-spacer>
            <v-btn color="primary"   @click="initialize()" small class="mr-2">Consultar</v-btn>
          </v-card-title>

          <v-card-text>
            <v-row>
              <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                <v-text-field
                  dense
                  v-model="fechaentr"
                  label="Fecha de inicio"
                  type="date"
                  filled
                  clearable
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row justify="end">
              <v-col cols="12" md="6" lg="4">
                <v-card-text class="py-0">
                  <v-text-field
                    prepend-inner-icon="mdi-magnify"
                    label="Buscar"
                    id="id"
                    filled
                    dense
                    v-model="search"
                  ></v-text-field>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card-text>

          <v-data-table
            :headers="headers"
            :items="entradas"
            class="elevation-0"
            :search="search"
            dense
            :page.sync="page"
            @page-count="pageCount = $event"
            hide-default-footer
          > 
            <template v-slot:item.actions="{ item }">

              <v-chip
                small
                class="mr-2"
                @click="getInfoCaja(item.idcaja)"
                color="grey"
                dark
              >
                <v-icon>mdi-printer</v-icon>
              </v-chip>

              <v-chip
                small
                class="mr-2"
                @click="getVenta(item.idcaja)"
                color="blue"
                dark
              >
                ver
              </v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn
                color="primary"
                rounded
                small
                @click="initialize"
              >
                Actualizar
              </v-btn>
            </template>
            
          </v-data-table>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              v-model="page"
              :length="pageCount"
              circle
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- Agregar una entrada -->
    <v-dialog
      v-model="dialog"
      max-width="1200px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Ventas de caja </span>
        </v-card-title>

        <v-card-text class="pb-0">
          <v-data-table
            :headers="headers2"
            :items="ventas"
            class="elevation-0"
            :search="search2"
            dense
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            item-key="idventas"
            show-expand
          > 

            <!-- ************* TITCKET *********** -->
            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length" class="py-10">
                <v-card class="elevation-5">
                  <v-card-title class="text-subtitle-1">
                    Detalle de la venta: <b> {{ item.folio }}</b>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" rounded small @click="imprimirTicket( item )">Imprimir</v-btn>
                  </v-card-title>
                  <v-card-text>
                    <v-data-table
                      :headers="headers3"
                      :items="item.detalles"
                      class="elevation-0 mb-5"
                      dense
                      hide-default-footer
                    > 
                      <template v-slot:item.total="{ item }">
                        <span>{{ item.cantidad *  item.precio }}</span>
                      </template>
                    </v-data-table>

                    <div class="text-end black--text" align="end">
                      <b>TOTAL DE LA VENTA: ${{ item.total }}</b>
                    </div>
                  </v-card-text>
                </v-card>

              </td>
            </template>
            <!-- ************* TITCKET *********** -->

          	<template v-slot:item.tipo_pago="{ item }">
             	<span v-if="item.tipo_pago == 1">Efectivo</span>
             	<span v-if="item.tipo_pago == 2">Tarjeta</span>
             	<span v-if="item.tipo_pago == 3">Ambos</span>
            </template>

            <template v-slot:item.completo="{ item }">
              <v-chip
                small
                v-if="item.completo == 1"
                color="blue"
                dark
              >
                Receta completa
              </v-chip>

              <v-chip
                small
                v-else
                color="grey"
                dark
              >
                sin receta
              </v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn
                color="primary"
                rounded
                small
                @click="initialize"
              >
                Actualizar
              </v-btn>
            </template>
            
          </v-data-table>

        </v-card-text>

        <v-card-actions class="mt-4">
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            dark
            @click="close"
            rounded
          >
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogCaja"
      max-width="250px"
    >
      <v-card class="elevation-0 cierreCaja"  v-if="desgloseCaja">
        <div class="ticket" id="ticket2" v-show="desgloseCaja" style="width:155px;">
          <!-- Logo del ticket -->
          <div class="text-center pb-4">
            <img
              src="https://surtimedix.com/logo.png"
              alt="Logotipo"
              style="width: 130px;">
          </div>

          <p class="centrado">
            SURTIMEDIX
            <br>Monterrey, Nuevo león
          </p>

          <p class="centrado">
            <b>Vendedora:</b> {{ desgloseCaja.nombre }} <br/>
            <b>Inicio:</b> {{ desgloseCaja.inicio }}
            <br/>
            <b>Final:</b>  {{ desgloseCaja.final  }}

            <br/>
            <br/>
            <br/>
            <b>TOTAL DE VENTAS |{{ desgloseCaja.total_ventas }}|</b>
            <br/>
          </p>

          <table style="font-size: 10px;" class="textoTicket">
            <thead>
              <tr>
                <th class="cantidad"></th>
                <th class="precio">$$</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cantidad"><b>Fondo inicial</b></td>
                <td class="precio">$ 750.00</td>
              </tr>

              <tr>
                <td class="cantidad"><b>Efectivo</b></td>
                <td class="precio">$ {{ desgloseCaja.efectivo }}</td>
              </tr>

              <tr>
                <td class="cantidad"><b>Tarjeta</b></td>
                <td class="precio">$ {{ desgloseCaja.tarjeta }}</td>
              </tr>

              <tr>
                <td class="cantidad"><b>Total</b></td>
                <td class="precio">$ {{ desgloseCaja.total }}</td>
              </tr>

              <tr>
                <td class="cantidad"><b>Total en caja</b></td>
                <td class="precio">$ {{ desgloseCaja.saldoencaja }}</td>
              </tr>

              <tr>
                <td class="cantidad"><b>Diferencia</b></td>
                <td class="precio">$ {{ desgloseCaja.diferencia }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <v-card-actions class="mt-4">
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            dark
            @click="dialogCaja = false"
            small
          >
            Cancelar
          </v-btn>
          <v-btn color="primary" @click="verHtmlDiv()" small>Imprimir</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-card class="pa-4" v-show="dialogTicket">
      <div class="ticket" id="ticket3" v-show="dialogTicket">
        <!-- Logo del ticket -->
        <div class="text-center pb-4">
          <img
            src="https://surtimedix.com/logo.png"
            alt="Logotipo"
            style="width: 130px;">
        </div>

        <p class="centrado">
          SURTIMEDIX
          <br>Monterrey, Nuevo león
        </p>

        <table style="font-size: 10px;" class="textoTicket">
          <thead>
            <tr>
              <th class="cantidad">CANT</th>
              <th class="producto">PRODUCTO</th>
              <th class="precio">$$</th>
            </tr>
          </thead>
          <tbody>
            <tr  v-for="(art, i) in detalles" :key="i" >
              <td class="cantidad">{{ art.cantidad }}</td>
              <td class="producto">{{ art.producto }}</td>
              <td class="precio">$ {{ art.cantidad * art.precio }} </td>
            </tr>

            <tr>
              <td class="cantidad"></td>
              <td class="producto">TOTAL</td>
              <td class="precio">$ {{ total2 }}</td>
            </tr>

            <tr>
              <td class="cantidad"></td>
              <td class="producto">CAMBIO</td>
              <td class="precio">$ {{ cambio2 }}</td>
            </tr>
          </tbody>
        </table>
        <p class="centrado">
          <br>
          ¡GRACIAS POR SU COMPRA!
        </p>
      </div>
      <v-card-actions>
        <v-btn color="primary" @click="dialogTicket = false">Cerrar</v-btn>
        <v-btn color="primary" @click="verHtmlDiv()">Imprimir</v-btn>
      </v-card-actions>
    </v-card>


    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>
<script>
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'

  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  import  reportes_excel from '@/mixins/reportes_excel.js';
  
  export default {
    mixins: [reportes_excel, validarErrores],
    
    components: {
      Alerta,
      carga
    },

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      search2:'',
      page: 1,
      pageCount: 0,
  
      inicio:null,
      fin:   null,

      loading: true,

      search:'',
      entradas:[],

      headers: [
        { text: 'Vendedora',       value: 'nomper'         },
        { text: 'Fecha creación',  value: 'fecha_creacion' },
        { text: 'Fecha cierre',    value: 'fecha_cierre'   },
        { text: 'Total venta',     value: 'dinero_caja'    },
        { text: 'Total caja',      value: 'total_caja'     },
        { text: 'Diferencia',      value: 'diferencia'     },
        { text: 'Actions',         value: 'actions'        },
      ],

      headers2: [
        { text: 'Folio',           value: 'folio'          },
        { text: 'tipo pago',       value: 'tipo_pago'      },
        { text: 'Fecha',           value: 'fecha_creacion' },
        { text: 'pago tarjeta',    value: 'pago_tarjeta'   },
        { text: 'pago efectivo',   value: 'pago_efectivo'  },
        { text: 'cambio',          value: 'cambio'         },
        { text: 'subtotal',        value: 'subtotal'       },
        { text: 'total',           value: 'total'          },
        { text: 'completo',        value: 'completo'       },
      ],

      headers3: [
        { text: 'id',          value: 'iddetalle_venta' },
        { text: 'Producto',    value: 'producto'        },
        { text: 'Precio',      value: 'precio'          },
        { text: 'Cantidad',    value: 'cantidad'        },
        { text: 'Total',       value: 'total'           },
      ],

      ventas:[],

      valid: true,

      dialog: false,

      categorias: [],
      editedIndex: -1,

      editedItem: {
        identradas:0,
        cant: '',
        factura:'',
        idarts:0
      },
      defaultItem: {
        identradas:0,
        cant: '',
        factura:'',
        idarts:0
      },

      factura:'',
      cant:'',
      fechaentr:(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      
      desgloseCaja: null,
      dialogCaja: false,

      dialogTicket: false,
      detalles:[],
      total2:0,
      cambio2:0,
      head: `<!DOCTYPE html>
              <html>
                  <head>
                    <style>
                      * {
                        font-size: 10px;
                        font-family: 'Times New Roman';
                      }

                      td,
                      th,
                      tr,
                      table {
                          border-top: 1px solid black;
                          border-collapse: collapse;
                      }

                      td.cantidad,
                      th.cantidad {
                        width: 100px;
                        max-width: 100px;
                        padding-right: 5px;
                      }


                      td.precio,
                      th.precio {
                        width: 55px;
                        max-width: 55px;
                        word-break: break-all;
                        text-align: right !important;
                      }

                      tr,th{
                        text-align: left;
                      }

                      .centrado {
                          text-align: center;
                          align-content: center;
                      }

                      .ticket {
                        width: 155px;
                        max-width: 155px;
                      }

                      .v-img {
                        max-width: inherit;
                        width: inherit;
                      }

                      .textoTicket{
                        font-size: 10px !important;
                      }

                    </style>
                  </head>
                  <body>
                  <div class="ticket" id="ticket2">
          `,
      footer: `</div></body> </html>`,
      expanded: [],
      singleExpand: false,
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva entrada' : 'Editar entrada'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },

      fechaentr( val ){
        if( val ){ this.initialize() }
      }
    },

    created () {
      this.initialize()
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg','verEntrada']),

      initialize(){
        this.entradas= []
        this.cargar = true
        const payload = {
        	fecha: this.fechaentr
        }
        return this.$http.post('caja.cerradas',payload).then(response =>{
          this.cargar = false
          this.entradas = response.body
        }).catch(error=>{
          this.validarError(error)
        }).finally(()=> { this.cargar = false })
      },


      getVenta( id ){
        this.ventas = []
        this.cargar = true
        return this.$http.get('caja.cerradas/' + id).then(response =>{
          this.cargar = false
          this.ventas = response.body.ventas
          this.caja   = response.body.caja
          this.dialog = true
        }).catch(error=>{
          this.validarError(error)
        }).finally(()=> { this.cargar = false })
      },

      exportar(){
        this.exportarExcel('Entradas',this.entradas)
      },

      filtroFechas(){
        this.cargar = true
        this.entradas = []

        var payload = {
          inicio: this.inicio,
          fin:    this.fin
        }

        this.$http.post('entradas.fecha',payload).then(response =>{
          this.entradas = response.body
          this.cargar = false
        }).catch(error=>{
          this.validarError(error)
        }).finally(()=> { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      getInfoCaja( idcaja ){
        this.cargar = true
        this.$http.get('caja.cierre/' + idcaja).then(response=>{
          this.desgloseCaja = response.body
          this.dialogCaja   = true
          // Acumulamos el dinero 
          this.cargar = false
        }).catch(error=>{
          this.validarError(error)
        }).finally(()=> { this.cargar = false })
      },

      verHtmlDiv( ){
        var ficha = document.getElementById('ticket2');
        var htmlCompleto = this.head + ` ` + ficha.innerHTML + ` ` + this.footer
        var ventanaImpresion = window.open('', 'PRINT', 'height=400,width=600');
        ventanaImpresion.document.write(htmlCompleto);
        ventanaImpresion.document.close();
        ventanaImpresion.focus();
        ventanaImpresion.print();
        ventanaImpresion.close();
        this.dialogCaja  = false
        return true;
      },

      imprimirTicket( value ){
        this.detalles = value.detalles
        this.total2   = value.total
        this.cambio2  = value.cambio
        this.dialogTicket = true
        setTimeout(() => { this.verHtmlDiv2() }, 2000);
      },

      verHtmlDiv2( ){
        var ficha = document.getElementById('ticket3');
        var htmlCompleto = this.head + ` ` + ficha.innerHTML + ` ` + this.footer
        var ventanaImpresion = window.open('', 'PRINT', 'height=400,width=600');
        ventanaImpresion.document.write(htmlCompleto);
        ventanaImpresion.document.close();
        ventanaImpresion.focus();
        ventanaImpresion.print();
        ventanaImpresion.close();
        this.dialogTicket  = false
        return true;
      }
    },
  }
</script>
<style scoped>

  .titulo{
    -webkit-box-shadow: 0px 10px 13px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 13px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 13px -5px rgba(0,0,0,0.5);
  }

  .ticket {
    font-size: 12px;
    font-family: 'Times New Roman';
  }

  td,
  th,
  tr,
  table {
      border-top: 1px solid black;
      border-collapse: collapse;
  }

  td.cantidad,
  th.cantidad {
    width: 100px;
    max-width: 100px;
    padding-right: 5px;
  }


  td.precio,
  th.precio {
    width: 55px;
    max-width: 55px;
    word-break: break-all;
    text-align: right !important;
  }

  tr,th{
    text-align: left;
  }

  .centrado {
      text-align: center;
      align-content: center;
  }

  .ticket {
    width: 155px;
    max-width: 155px;
  }

  .v-img {
    max-width: inherit;
    width: inherit;
  }

</style>