<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Ventas</span>
            <v-spacer></v-spacer>
            <v-btn color="primary"   @click="initialize()" small class="mr-2">Consultar</v-btn>
          </v-card-title>

          <v-card-text>
            <v-row>
              <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                <v-text-field
                  dense
                  v-model="fechaentr"
                  label="Fecha de inicio"
                  type="date"
                  filled
                  clearable
                  @keyup.enter="initialize"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row justify="space-between">

              <v-col cols="12" md="6" lg="4">
                <span class="text-h5"><b>Ganancia:</b> {{ ganancia }}</span>
              </v-col>

              <v-col cols="12" md="6" lg="4">
                <v-card-text class="py-0">
                  <v-text-field
                    prepend-inner-icon="mdi-magnify"
                    label="Buscar"
                    id="id"
                    filled
                    dense
                    v-model="search"
                  ></v-text-field>
                </v-card-text>
              </v-col>
            </v-row>
          </v-card-text>

          <v-data-table
            :headers="headers"
            :items="entradas"
            class="elevation-0"
            :search="search"
            dense
            :page.sync="page"
            @page-count="pageCount = $event"
            hide-default-footer
          > 

            <template v-slot:no-data>
              <v-btn
                color="primary"
                rounded
                small
                @click="initialize"
              >
                Actualizar
              </v-btn>
            </template>
            
          </v-data-table>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              v-model="page"
              :length="pageCount"
              circle
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>
<script>
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'

  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  import  reportes_excel from '@/mixins/reportes_excel.js';
  
  export default {
    mixins: [reportes_excel, validarErrores],
    
    components: {
      Alerta,
      carga
    },

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      search2:'',
      page: 1,
      pageCount: 0,
  
      inicio:null,
      fin:   null,

      loading: true,

      search:'',
      entradas:[],

      headers: [
        { text: 'Producto' ,  value: 'producto' },
        { text: 'Cantidad',   value: 'cantidad' },
        { text: 'Compra',     value: 'compra'  },
        { text: 'Precio',     value: 'precio'  },
        { text: 'Ganancia',   value: 'ganancia'  },
        { text: 'Total',      value: 'total'    },
      ],

      ganancia:0,


      ventas:[],

      valid: true,

      dialog: false,

      categorias: [],
      editedIndex: -1,

      editedItem: {
        identradas:0,
        cant: '',
        factura:'',
        idarts:0
      },
      defaultItem: {
        identradas:0,
        cant: '',
        factura:'',
        idarts:0
      },

      factura:'',
      cant:'',
      fechaentr:(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      
      desgloseCaja: null,
      dialogCaja: false,

      dialogTicket: false,
      detalles:[],
      total2:0,
      cambio2:0,
      expanded: [],
      singleExpand: false,
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva entrada' : 'Editar entrada'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg','verEntrada']),

      initialize(){
        this.entradas= []
        this.cargar = true
        const payload = {
        	fecha: this.fechaentr
        }
        return this.$http.post('caja.ventas.diarias',payload).then(response =>{
          this.cargar = false
          this.entradas = response.body

          this.ganancia = this.entradas.map(item => item.ganancia ).reduce((prev, curr) => prev + curr, 0);
        }).catch(error=>{
          this.validarError(error)
        }).finally(()=> { this.cargar = false })
      },


      exportar(){
        this.exportarExcel('Entradas',this.entradas)
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
    },
  }
</script>
