<template>
	<v-container>
		<v-row>
			<v-snackbar
        v-model="snackbar"
        :timeout="4000"
        top
        :color="color" dark
      >
        {{text}}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </v-snackbar>

			<v-col cols="12">
				<v-data-table
					:loading="loading"
			    :headers="headers"
			    :items="razas"
			    sort-by="especie"
			    class="elevation-1"
			    :search="search"
			    dense
			  >

			  	<template v-slot:item.estatus="{ item }">
			      <v-chip dense small rounden color="green" dark v-if="item.estatus">
			      	Activo
			      </v-chip>

			      <v-chip dense small rounden color="red" dark v-else>
			      	Inactivo
			      </v-chip>

			    </template>
			    <template v-slot:no-data>
			      <v-btn
			      	rouneded
			      	small
			        color="primary"
			        @click="initialize"
			      >
			        Actualizar
			      </v-btn>
			    </template>


			    <template v-slot:top>
			      <v-toolbar
			        flat
			      >
			        <v-toolbar-title>Razas</v-toolbar-title>
			        <v-divider
			          class="mx-4"
			          inset
			          vertical
			        ></v-divider>
			        <v-spacer></v-spacer>
			        <v-dialog
			          v-model="dialog"
			          max-width="500px"
			        >
			          <template v-slot:activator="{ on, attrs }">
			            <v-btn
			              color="primary"
			              dark
			              class="mb-2"
			              v-bind="attrs"
			              v-on="on"
			              rounded
			              small
			            >
			              Agregar
			            </v-btn>
			          </template>
			          <v-card>
			            <v-card-title>
			              <span class="text-h5">{{ formTitle }}</span>
			            </v-card-title>

			            <v-form
								    ref="form"
								    v-model="valid"
								    lazy-validation
								  >

				            <v-card-text>
				              <v-container>
				                <v-row>
				                	<v-col cols="12" class="pb-0">
				                    <v-select
				                    	outlined
				                    	hide-details
				                    	dense
				                      :items="especies"
				                      v-model="especie"
				                      return-object
				                      label="Especie"
				                      item-text="especie"
				              				item-value="idespecie"
				              				:rules="[v => !!v || 'Campo requerido']"
				                    ></v-select>
				                  </v-col>

				                  <v-col cols="12" class="pb-0">
				                    <v-text-field
				                    	outlined
				                    	dense
				                      v-model="editedItem.raza"
				                      label="Raza"
				                      hide-details
				                      :rules="[v => !!v || 'Campo requerido']"
				                    ></v-text-field>
				                  </v-col>

				                  <v-col cols="12" class="pb-0">
				                  	<v-switch
												      v-model="editedItem.estatus"
												      label="Activo"
												    ></v-switch>
				                  </v-col>
				                </v-row>
				              </v-container>
				            </v-card-text>
				          </v-form>

			            <v-card-actions>
			              <v-spacer></v-spacer>
			              <v-btn
			                color="secondary"
			                @click="close"
			                small
			                rounded
			              >
			                Cancelar
			              </v-btn>
			              <v-btn
			                color="primary"
			                @click="save"
			                small
			                rounded
			              >
			                Guardar
			              </v-btn>
			            </v-card-actions>
			          </v-card>
			        </v-dialog>
			      </v-toolbar>
			      <v-card-text>
			        <v-text-field
			          label="Buscar"
			          v-model="search"
			          outlined
			          dense
			          hide-details
			        ></v-text-field>
			      </v-card-text>
			    </template>
			    <template v-slot:item.actions="{ item }">
			    	<v-chip
			    		color="success" 
			    		class="text-capitalize"
			        @click="editItem(item)"
			        small
			        rounded
			    	>
			    		Editar
			    	</v-chip>
			    </template>
			    <template v-slot:no-data>
			      <v-btn
			      	rounded
			      	small
			        color="primary"
			        @click="initialize"
			      >
			        Actualizar
			      </v-btn>
			    </template>
			  </v-data-table>
			</v-col>
		</v-row>
	</v-container>
  
</template>
<script>
  export default {
    data: () => ({
    	valid: true,

    	snackbar:false,
			color:'',
			text:'',

    	loading:true,

      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Id',
          align: 'start',
          value: 'idraza',
        },
        { text: 'Raza',    value: 'raza'    },
        { text: 'Especie', value: 'especie' },
        { text: 'Estatus', value: 'estatus' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      search:'',
      razas: [],
      editedIndex: -1,
      editedItem: {
      	idraza:'',
        idespecie: '',
        especie: '',
        estatus: true,
      },
      defaultItem: {
      	idraza:'',
        idespecie: '',
        especie: '',
        estatus: true,
      },

      especie:{idespecie:'',especie:''},
      especies:[],
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar especie' : 'Editar especie'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
      	// Cargar especies
      	this.$http.get('catalogos.especie.list').then(response=>{
      		for(const i in response.body){
      			if(response.body[i].estatus == 1){
      				this.especies.push(response.body[i])

      			}
      		}

	      	this.loading = true
	      	this.$http.get('catalogos.raza.list').then(response=>{
	      		this.razas = response.body
	      		for(const i in this.razas){
	      			if(this.razas[i].estatus == 1){
	      				this.razas[i].estatus = true
	      			}else{
	      				this.razas[i].estatus = false
	      			}
	      		}
	      		this.loading = false
	      	}).catch(error=>{
	      		this.text = 'Error en el sistema'
	      		this.color = 'error'
	      		this.snackbar = true
	      	})
      	}).catch(error=>{
      		this.text = 'Error en el sistema'
      		this.color = 'error'
      		this.snackbar = true
      	})

      },

      editItem (item) {
        this.editedIndex = this.razas.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.especie = {idespecie: this.editedItem.idespecie, especie: this.editedItem.especie}
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.razas.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.razas.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
      	if(this.$refs.form.validate()){
	      	if(this.editedItem.estatus == true){this.editedItem.estatus = 1}else{this.editedItem.estatus = 0}
	      	this.editedItem.idespecie = this.especie.idespecie
	        if (this.editedIndex > -1) {
	          this.$http.put('catalogos.raza.put/' + this.editedItem.idraza,this.editedItem).then(response=>{
	          	this.text = 'Actualizado correctamente'
	          	this.color = 'green'
	          	this.snackbar = true
		      		this.initialize()
		      	}).catch(error=>{
		      		this.text = 'Error en el sistema'
		      		this.color = 'error'
		      		this.snackbar = true
		      	})
	        } else {
	        	this.$http.post('catalogos.raza.add',this.editedItem).then(response=>{
	        		this.text = 'Agregado correctamente'
	          	this.color = 'green'
	          	this.snackbar = true
		      		this.initialize()
		      	}).catch(error=>{
		      		this.text = 'Error en el sistema'
		      		this.color = 'error'
		      		this.snackbar = true
		      	})
	        }
	        this.close()
      	}
      },
    },
  }
</script>