<template>
	<v-container>
	  <v-row>
	  	<v-col cols="12">
			  <v-data-table
			    :headers="headers"
			    :items="pacientes"
			    sort-by="calories"
			    class="elevation-1"
			    dense
			    :search="search"
			   >
			    <template v-slot:top>
			      <v-toolbar
			        flat
			      >
			        <v-toolbar-title>Pacientes</v-toolbar-title>
			        <v-divider
			          class="mx-4"
			          inset
			          vertical
			        ></v-divider>
			        <v-spacer></v-spacer>
			        <v-dialog
			          v-model="dialog"
			          max-width="1000px"
			        >
			          <template v-slot:activator="{ on, attrs }">
			            <v-btn
			              color="primary"
			              dark
			              class="mb-2"
			              v-bind="attrs"
			              v-on="on"
			              rounded
			              small
			            >
			              Agregar paciente
			            </v-btn>
			          </template>
			          <v-card>
			            <v-card-title>
			              <span class="text-h5">{{ formTitle }}</span>
			            </v-card-title>
			            <v-form
								    ref="form"
								    v-model="valid"
								    lazy-validation
								  >

				            <v-card-text>
				              <v-container>
				                <v-row>
				                  <v-col cols="12" md="6">
				                    <v-text-field
				                      v-model="editedItem.paciente"
				                      label="Nombre paciente"
				                      hide-details
				                      outlined
				                      dense
				                      :rules="[v => !!v || 'Campo requerido']"
				                    ></v-text-field>
				                  </v-col>
				                  <v-col cols="12" sm="6" md="3">
				                    <v-text-field
				                      v-model="editedItem.fecha_nacimiento"
				                      label="Fecha de nacimiento"
				                      type="date"
				                      hide-details
				                      outlined
				                      dense
				                      :rules="[v => !!v || 'Campo requerido']"
				                    ></v-text-field>
				                  </v-col>

				                  <v-col cols="12" sm="6" md="3">
				                    <v-text-field
				                      v-model="editedItem.edad"
				                      label="Edad"
				                      type="number"
				                      hide-details
				                      outlined
				                      dense
				                      suffix="meses"
				                      :rules="[v => !!v || 'Campo requerido']"
				                    ></v-text-field>
				                  </v-col>

				                  <v-col cols="12" sm="6" md="3">
				                  	<v-select
				                  	  :items="[{sexo:'Macho',id:1},{sexo:'Hembra',id:2}]"
				                  	  v-model="sexo"
				                  	  label="Sexo"
				                  	  return-object
				                  	  item-value="id"
				                  	  item-text="sexo"
				                  	  hide-details
				                  	  outlined
				                  	  dense
				                  	  :rules="[v => !!v || 'Campo requerido']"
				                  	></v-select>
				                  </v-col>

				                  <v-col cols="12" sm="6" md="3">
				                  	<v-select
				                  	  :items="razas"
				                  	  v-model="raza"
				                  	  label="Raza"
				                  	  return-object
				                  	  item-value="idraza"
				                  	  item-text="raza"
				                  	  hide-details
				                  	  outlined
				                  	  dense
				                  	  :rules="[v => !!v || 'Campo requerido']"
				                  	></v-select>
				                  </v-col>

				                  <v-col cols="12" sm="6" md="3">
				                    <v-text-field
				                      v-model="editedItem.color"
				                      label="Color"
				                      hide-details
				                      outlined
				                      dense
				                      suffix="kg"
				                      :rules="[v => !!v || 'Campo requerido']"
				                    ></v-text-field>
				                  </v-col>

				                  <v-col cols="12"  sm="6" md="3">
				                    <v-text-field
				                      v-model="editedItem.peso"
				                      label="Peso"
				                      hide-details
				                      outlined
				                      dense
				                      :rules="[v => !!v || 'Campo requerido']"
				                    ></v-text-field>
				                  </v-col>

				                  <v-col cols="12" md="9" lg="6">
				                  	<v-autocomplete
				                  		outlined
									            v-model="cliente"
									            :items="clientes"
									            dense
									            label="Selecciona un cliente"
									            return-object
									            item-text="nombre"
									            item-value="idclientes"
									            hide-details
									            :rules="[v => !!v || 'Campo requerido']"
									          ></v-autocomplete>
				                  </v-col>
				                </v-row>
				              </v-container>
				            </v-card-text>
				          </v-form>
			            <v-card-actions>
			              <v-spacer></v-spacer>
			              <v-btn
			                color="primary"
			                small
			                rounded
			                @click="close"
			              >
			                Cancelar
			              </v-btn>
			              <v-btn
			                color="secondary"
			                small
			                rounded
			                @click="save"
			              >
			                Guardar
			              </v-btn>
			            </v-card-actions>
			          </v-card>
			        </v-dialog>
			        <v-dialog v-model="dialogDelete" max-width="500px">
			          <v-card>
			            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
			            <v-card-actions>
			              <v-spacer></v-spacer>
			              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
			              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
			              <v-spacer></v-spacer>
			            </v-card-actions>
			          </v-card>
			        </v-dialog>
			      </v-toolbar>
			      <v-row>
			      	<v-col cols="12">
			      		<v-card-text>
				      		<v-text-field
				      		  label="search"
				      		  v-model="search"
				      		  dense
				      		  hide-details
				      		  outlined
				      		></v-text-field>
			      		</v-card-text>
			      	</v-col>
			      </v-row>
			    </template>

			    <template v-slot:item.sexo="{ item }">
			      <div v-if="item.sexo == 1">Macho</div>
			      <div v-else>Macho</div>
			    </template>

			    <template v-slot:item.castracion="{ item }">
			      <div v-if="item.castracion == 1">Si</div>
			      <div v-else>No</div>
			    </template>

			    <template v-slot:item.estatus="{ item }">
			      <div v-if="item.estatus == 1">Activo</div>
			      <div v-else>Inactivo</div>
			    </template>
			    <template v-slot:no-data>
			      <v-btn
			        color="primary"
			        @click="initialize"
			      >
			        Reset
			      </v-btn>
			    </template>


			    <template v-slot:item.actions="{ item }">
			      <v-icon
			        small
			        class="mr-2"
			        @click="editItem(item)"
			      >
			        mdi-pencil
			      </v-icon>
			      <v-icon
			        small
			        @click="deleteItem(item)"
			      >
			        mdi-delete
			      </v-icon>
			    </template>
			    <template v-slot:no-data>
			      <v-btn
			        color="primary"
			        @click="initialize"
			      >
			        Reset
			      </v-btn>
			    </template>
			  </v-data-table>
	  	</v-col>
	  	
	  </v-row>
	</v-container>
</template>
<script>
  export default {
    data: () => ({
    	valid: true,
    	search:'',
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Folio', align: 'start', sortable: false, value: 'idpacientes', },
        { text: 'Nombre',     value: 'paciente' },
        { text: 'Edad',       value: 'edad' },
        { text: 'Sexo',       value: 'sexo' },
        { text: 'Color',      value: 'color' },
        { text: 'Peso',       value: 'peso' },
        { text: 'Castración', value: 'castracion' },
        { text: 'Estatus',    value: 'estatus' },
        { text: 'Actions',    value: 'actions', sortable: false },
      ],
      pacientes: [],
      editedIndex: -1,
      sexo:null,
      editedItem: {
        idpacientes:'',
				paciente:'',
				fecha_nacimiento:'',
				edad:'',
				sexo:'',
				idespecie:'',
				idraza:'',
				color:'',
				peso:'',
				propietario:'',
				fecha_creacion:'',
				estatus: 1,
				castracion:0,
				foto:''
      },
      defaultItem: {
        idpacientes:'',
				paciente:'',
				fecha_nacimiento:'',
				edad:'',
				sexo:'',
				idespecie:'',
				idraza:'',
				color:'',
				peso:'',
				propietario:'',
				fecha_creacion:'',
				estatus: 1,
				castracion:0,
				foto:''
      },

      clientes:[],
      cliente: null,

      especies:[],
      especie: null,

      razas:[],
      raza: null,
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar paciente' : 'Editar paciente'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
      	this.$http.get('obtener.clientes').then(response=>{
      		this.clientes = response.body
      	}).catch(error=>{console.log(error)})

      	this.$http.get('catalogos.especie.list').then(response=>{
      		this.especies = response.body
      	}).catch(error=>{console.log(error)})

      	this.$http.get('catalogos.raza.list').then(response=>{
      		this.razas = response.body
      	}).catch(error=>{console.log(error)})

      	this.$http.get('pacientes.all').then(response=>{
      		for(const i in response.body){
      			response.body[i].fecha_nacimiento = response.body[i].fecha_nacimiento.substr(0,10)
      		}
      		this.pacientes = response.body
      	}).catch(error=>{console.log(error)})
      },

      editItem (item) {
        this.editedIndex = this.pacientes.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.raza    = {idraza:     this.editedItem.idraza,     raza:    this.editedItem.raza}
        this.especie = {idespecie:  this.editedItem.idespecie,  especie: this.editedItem.especie}
        this.especie = {idespecie:  this.editedItem.idespecie,  especie: this.editedItem.especie}
        this.cliente = {idclientes: this.editedItem.idclientes, nombre:  this.editedItem.nombre}
        if(this.editedItem.sexo == 1){
        	this.sexo = {id: 1, sexo:  'Macho'}
        }else{
        	this.sexo = {id: 2, sexo:  'Mujer'}
        }
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.pacientes.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.pacientes.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
      	if(this.$refs.form.validate()){
	      	this.editedItem.sexo        = this.sexo.id
	      	this.editedItem.idraza      = this.raza.idraza
	      	this.editedItem.idespecie   = this.especie.idespecie
	      	this.editedItem.propietario = this.cliente.idclientes

	        if (this.editedIndex > -1) {
	          this.$http.put('pacientes.update/'+this.editedItem.idpacientes,this.editedItem).then(response=>{
		      		this.initialize()
		      	}).catch(error=>{console.log(error)})
	        } else {
	      		this.editedItem.fecha_creacion = this.fecha()
	          this.$http.post('pacientes.add',this.editedItem).then(response=>{
		      		this.initialize()
		      	}).catch(error=>{console.log(error)})
	        }
	        this.close()
      	}
      },

      fecha(){
        var f = new Date(); 
        return f.getFullYear() +'-'+ (f.getMonth() + 1 < 10? '0' + (f.getMonth() + 1): f.getMonth() + 1 ) +'-'+ (f.getDate()<10?'0'+f.getDate():f.getDate());
      }
    },
  }
</script>