<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            Catálogo de Entradas
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              dark
              class="mb-2"
              @click="dialog = true"
              small
            >
              Agregar
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-row justify="end">
              <v-col cols="12" md="6" lg="4">
                <v-text-field
                  dense
                  v-model="search"
                  append-icon="search"
                  label="Buscar Productos"
                  single-line
                  filled
                  dense
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                <v-text-field
                  dense
                  v-model="inicio"
                  label="Fecha de inicio"
                  type="date"
                  filled
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                <v-text-field
                  dense
                  v-model="fin"
                  label="Fecha de fin"
                  type="date"
                  filled
                ></v-text-field>
              </v-col>
              
              <v-col cols="12" sm="6" md="4" lg="3">
                <v-btn color="success" @click="filtroFechas()" small class="mr-2"><v-icon>search</v-icon></v-btn>
                <v-btn color="success" @click="initialize()" small>Todo</v-btn>
              </v-col>
            </v-row>

            <v-data-table
              :headers="headers"
              :items="entradas"
              class="elevation-0"
              :search="search"
              dense
            >
              <template v-slot:item.eliminar="{ item }">
                <v-icon
                  @click="deleteItem(item)"
                  color="red"
                >
                  mdi-delete
                </v-icon>
              </template>

              <template v-slot:no-data>
                <v-btn
                  color="primary"
                  @click="initialize"
                >
                  Actualizar
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDelete" max-width="600px">
      <v-card>
        <v-card-title class="text-h6 text-center">
          <v-spacer></v-spacer>
          ¿Estas seguro de que deseas eliminar la entrada?
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-actions>
          <v-btn color="red" dark rounded @click="closeDelete">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" rounded @click="deleteItemConfirm">Eliminar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialog"
      max-width="500px"
    >
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text class="pb-0">
            <v-row>
              <v-col cols="12" class="pb-0">
                <v-autocomplete
                  v-model="producto"
                  :items="productos"
                  label="Producto"
                  return-object
                  item-text="nomart"
                  item-value="id"
                  :rules="[v => !!v || 'Campo requerido']"
                  filled
                  dense
                ></v-autocomplete>
              </v-col>

              <v-col cols="12" class="pb-0">
                <v-autocomplete
                  v-model="sucursal"
                  :items="sucursales"
                  label="Sucursal"
                  return-object
                  item-text="sucursal"
                  item-value="idsucursal"
                  :rules="[v => !!v || 'Campo requerido']"
                  filled
                  dense
                ></v-autocomplete>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  v-model="cant"
                  filled
                  dense
                  type="number"
                  label="Cantidad"
                  :rules="[v => !!v || 'Campo requerido']"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  filled
                  dense
                  v-model="fechaentr"
                  label="Fecha de entrada"
                  type="date"
                  :rules="[v => !!v || 'Campo requerido']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-btn
              color="red"
              dark
              rounded
              @click="close"
              small
            >
              Cancelar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              rounded
              @click="save"
              small
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';
  import validarErrores  from '@/mixins/validarErrores'

  export default {
    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      inicio:new Date().toISOString().substr(0, 10),
      fin:new Date().toISOString().substr(0, 10),

      loading: true,
      search:'',
      entradas:[],
      headers: [
        { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Fecha de ingreso',     value: 'fecha_creo' },
        { text: 'Sucursal',             value: 'sucursal' },
        { text: 'Cantidad',             value: 'cant' },
        { text: 'Eliminar',             value: 'eliminar' },
      ],

      valid: true,
      search:'',
      
      dialog: false,
      dialogDelete: false,
      categorias: [],
      editedIndex: -1,
      editedItem: {
        idlaboratorios:0,
        nomlab: '',
        estatus: 0,
      },
      defaultItem: {
        idlaboratorios:0,
        nomlab: '',
        estatus: 0,
      },

      productos:[],
      producto:null,
      cant: 0 ,
      fechaentr:new Date().toISOString().substr(0, 10),

      sucursales:[],
      sucursal:null,
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva entrada' : 'Editar entrada'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created(){
      this.cargar = true
      await this.initialize()
      await this.getArticulos()
      await this.getSucursales()
      this.cargar = false
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg','verEntrada']),

      initialize(){
        this.entradas= []
        this.cargar = true
        return this.$http.get('entradas.list').then(response =>{
          this.cargar = false
          this.entradas = response.body
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getArticulos () {
        this.productos = []
        this.cargar = true
        return this.$http.get('articulos.list').then(response=>{
          this.productos = response.body
          this.cargar = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getSucursales () {
        this.sucursales = []
        this.cargar = true
        return this.$http.get('sucursales.activas').then(response=>{
          this.sucursales = response.body
          this.cargar = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      filtroFechas(){
        this.entradas = []
        this.cargar  = true
        var payload = {
          inicio: this.inicio,
          fin:    this.fin
        }
        this.$http.post('entradas.fecha',payload).then(response =>{
          this.entradas = response.body
          this.cargar = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.categorias.indexOf(item)
        this.editedItem = Object.assign({}, item)
        for(const i in this.productos){
          if(this.productos[i].codigo == this.editedItem.codigo){
            this.producto = this.productos[i]
          }
        }
        this.cant      = this.editedItem.cant
        this.cant      = this.editedItem.cant
        this.fechaentr = this.editedItem.fechaentr
        this.dialog    = true
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if(this.$refs.form.validate()){
          if (!this.editedIndex > -1) {
            var payload = {
              idarts:       this.producto.id,
              cant:         this.cant,
              idsucursales: this.sucursal.idsucursales
            }
            this.$http.post('entradas.add', payload).then(response=>{
              this.validarSuccess( 'Entrada agregada correctamente' )
              this.initialize()
              this.close()
            }).catch( error =>{
              this.validarError( error )
            }).finally( () => { this.cargar = false })
          }
        }
      },

      deleteItem (item) {
        this.editedIndex = this.entradas.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.cargar = true
        this.$http.post('entradas.eliminar', this.editedItem).then(response=>{
          this.validarSuccess( 'Entrada agregada correctamente' )
          this.initialize()
          this.closeDelete()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },


      copiarPortapapeles () {
        navigator.clipboard.writeText(this.error).then(() => {
          this.textoCopiado = 'COPIADO'
        }).catch(err => {
          console.log('Something went wrong', err);
        })
      }
    },
  }
</script>





