<template>  
  <v-container>
    <v-row >  
      <v-col cols="12" md="8" lg="6">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Nuevo artículo</span>

            <v-spacer></v-spacer>
            <!-- BTN ATRAS -->
            <v-btn 
              small
              class="ma-2" 
              color="blue lighten-2" 
              :to="{name:'catproductos'}" 
              dark
              rounded
            >
              Atras
            </v-btn>

            <!-- BTN GUARDAR -->
            <v-btn 
              v-if="existe == false"
              small 
              dark 
              class="ma-2" 
              @click.prevent="agregar"
              color="blue darken-3"
              rounded
            >
            Guardar
            </v-btn>

          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="12" sm="6" md="5" lg="6" xl="5">
                <v-text-field
                  clearable
                  label="Ingresar Código"
                  v-model="codigo"
                  dense
                  validate-on-blur
                  class="pa-0"  
                  outlined hide-details 
                  @keyup.enter="buscarCodigo()"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col  cols="12">
                <v-text-field
                  v-if="existe == false && codigo != ''"
                  label="Nombre del artículo"
                  v-model="nomart"
                  outlined 
                  hide-details 
                  dense
                ></v-text-field>
              </v-col>

              <!-- <v-col  cols="12">
                <v-text-field
                  v-if="existe == false && codigo != ''"
                  label="Sal"
                  v-model="sal"
                  outlined 
                  hide-details 
                  dense
                ></v-text-field>
              </v-col> -->

              <!-- <v-col  cols="12">
                <v-checkbox 
                  v-if="existe == false && codigo != ''"
                  label="Requiere receta" 
                  v-model="receta" 
                  :value="1">
                </v-checkbox>
              </v-col> -->

              <v-col  cols="12">
                <v-textarea 
                  v-if="existe == false && codigo != ''"
                  v-model = "descrip"
                  outlined
                  dense
                  label="Descripción corta"
                >
                </v-textarea>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
             
    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

  </v-container>
</template>

<script>

  // Componentes
  import Alerta        from '@/components/alertas/Alerta.vue'
  import Loader        from '@/components/alertas/Loader.vue'

  export default {

    components: {
      Alerta,
      Loader,
    },

    data () {
      return {
        existe: true,

        codigo:'',
        nomart:'',
        descrip:'',
        descripLarga:'',
        sal:'',
        receta:0,

        respuestaAlerta: false,
        loader: true,
        cargar: false,
        parametros:{
          dialogError: false,
          mensaje: '',
          color: ''
        },

      }
    },


    computed: {
      validaInfo(){
        return  this.nomart      !==  '' && 
                this.descrip     !==  '' &&       
                this.codigo      !==  '' 
      },
    },
      
    methods:{
      buscarCodigo( ){
        if(this.codigo != ''){
          this.cargar = true
          this.$http.get('articulos.codigo/'+ this.codigo).then(response=>{
            if(response.body.length > 0){
              this.existe = true
              this.validarErrorBasico( 'El artículo ya existe' )
            }else{
              this.existe = false
            }
          }).catch(error =>{
            this.valirdarErrorBack( error )
          }).finally( () => { this.cargar = false })
        }
      },

      agregar(){
        if(!this.validaInfo){

          if(!this.codigo){
            this.validarErrorBasico( 'No has asignado un codigo al articulo' )
            return
          }

          if(!this.nomart){
            this.validarErrorBasico( 'No has asignado un nombre al articulo' )
            return
          }

          if(!this.descrip){
            this.validarErrorBasico( 'No has asignado un compuesto  al articulo' )
            return
          }
        }else{
          this.cargar = true
          var payload = {
            nomart:           this.nomart,
            codigo:           this.codigo,
            descrip:          this.descrip,
            descripLarga:     this.descripLarga,
            sal:              this.sal,
            receta:           this.receta,
          }

          this.$http.post('articulos.add', payload).then(response=>{
            this.cargar = false
            this.parametros.mensaje      = 'Artículo agregado correctamente'
            this.parametros.dialogError  = true 
            this.parametros.color        = 'success'
            this.respuestaAlerta         = true 
            setTimeout(() => (this.$router.push({name: 'catproductos'})), 1500)
          }).catch(error =>{
            this.valirdarErrorBack( error )
          }).finally( () => { this.cargar = false })
        }
      },

      validarErrorBasico( mensaje ){
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = '#FF2C2C'
        this.respuestaAlerta         = true 
      },

      valirdarErrorBack( error ){
        this.existe = true
        this.cargar = false 
        if( error.status == 400 || error.status == 500){
          this.parametros.mensaje      = error.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = '#FF2C2C'
          this.respuestaAlerta = true 
        }
      }
    }
  }
</script>